:root {
  --strong-cyan: hsl(172, 67%, 45%);

  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Space Mono', 'Serif';
  background-color: var(--light-grayish-cyan);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner {
    margin-bottom: clamp(2.5rem, 4.2vw, 5rem);
}

.card {
    background-color: var(--white);
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    padding: 2rem;
    gap: 2rem;
}

.card-calc, .card-result {
    width: 100%;
    gap: 2rem;
}

.bill, .people {
    width: 100%;
    gap: .25rem;
}
.labelling {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    font-weight: 700;
}

.tip {
    width: 100%;
    gap: .25rem;
}
.tip > label {
    margin-bottom: 1rem;
}

.tips {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
    grid-gap: 1rem;
}
.tips > .tips-opt {
    width: 100%;
    height: 100%;
}
.tips > .tips-opt > button {
    width: 100%;
    background-color: var(--very-dark-cyan);
    border: none;
    border-radius: 0.25rem;
    color: var(--white);
    font-family: 'Space Mono', 'Serif';
    font-size: 1.5rem;
    font-weight: 700;
    padding: .5rem;
}
.tips-opt > button:hover {
    background-color: var(--light-grayish-cyan);
    color: var(--very-dark-cyan);
}
.tips > .tips-opt > .active {
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
}

.tips > .tips-opt > input{
    width: 100%;
    height: 100%;
    font-family: 'Space Mono', 'Serif';
    text-align: center;
    border-radius: 0.25rem;
    padding: .5rem;
}

label {
    color: var(--dark-grayish-cyan);
    font-size: 1rem;
    font-weight: 700;
}

input {
    width: 100%;
    background-color: var(--light-grayish-cyan);
    border: none;
    color: var(--very-dark-cyan);
    font-size: 1.5rem;
    font-weight: 700;
    text-align: right;
}
input::placeholder { 
    color: var(--dark-grayish-cyan); 
}
input:focus {
    outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}

.card-result {
    background-color: var(--very-dark-cyan);
    border-radius: 1rem;
    padding: 1.5rem;
    gap: 1rem;
}

.result {
    width: 100%;
    color: var(--very-light-grayish-cyan);
    font-size: 1rem;
    font-weight: 700;
}   
span {
    font-size: .8rem;
    color: var(--grayish-cyan);
}

.flex-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.flex-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.input-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-grayish-cyan);
    padding: .5rem 1rem;
    border-radius: 0.25rem;
}

.result-group {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--strong-cyan);
}
.result-group > img {
    width: .9rem;
    height: 100%;
}
.result-group > p {
    font-size: 2.5rem;
}

.btn-reset {
    width: 100%;
    margin-top: 1rem;
    background-color: var(--strong-cyan);
    border: none;
    border-radius: .25rem;
    color: var(--very-dark-cyan);
    font-size: 1.2rem;
    font-weight: 600;
    padding: .8rem 0;
}
.btn-reset:hover {
    background-color: var(--light-grayish-cyan);
}
.btn-reset:disabled {
    pointer-events: none;
    filter: brightness(50%);
}

button {
    transition: all .3s ease-in-out;  
}

.focus {
    outline: 2px solid var(--strong-cyan);
}

.error {
    display: none;
    font-size: 1rem;
    color: palevioletred;
}

.invalid {
    border: 2px solid palevioletred;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.attribution { 
    margin: 2rem 0;
    font-size: .8rem; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (min-width: 768px) {
    .card {
        border-radius: 1.5rem;
        flex-direction: row;
        justify-content: stretch;
        align-items: stretch;
    }
    .tips {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    }
    .card-calc {
        padding: 1rem
    }
    .card-result {
        justify-content: space-between;
        padding: 3rem;
    }
    .result {
        gap: 2rem;
    }
}
